@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500&display=swap');
body {
    font-family: 'Catamaran', sans-serif;
}
:root {
    --color-primary: #6D214F;
    --color-primary2: #863a68;
    --color-secondary: #faf3dd;
    --color-white: white;
    --color-hover: #e63946;
    --color-success: green;
    --color-success-hover: rgb(37, 196, 37);
    --color-warning: orange;
    --color-warning-hover: rgb(223, 139, 29);
    --color-failure: rgba(236, 106, 106, 0.979);
    --color-failure-hover: red;
    --color-info: rgb(0, 153, 255);
    --color-info-hover: rgb(18, 187, 209);
    --color-gray: gray;
    --color-pink: pink;
}
iframe {
    height: auto;
    width: 100%;
    min-height: 300px;
    border:0; 
    transform: scale(1); 
    overflow:hidden;
}
/*********CSS for home page*******/
.home-page {
    margin: auto;
    text-align: center;
    max-width: 60%;
}
.home-page>img {
    display: block;
    margin: auto;
    max-width: 300px;
    max-height: 300px;
    padding-top: 70px;
}
.home-page>h3 {
    color: var(--color-gray);
}
.lib-name {
    color: var(--color-hover);
}
/**********CSS for navbar*******/
.nav {
    display: flex;
    width: 100%;
    background-color: var(--color-primary);
    justify-content: space-between;
    color: var(--color-secondary);
    flex-wrap: wrap;
}
.nav>h1 {
    margin: 0.5rem 0.5rem;
    color: var(--color-hover);
}
.nav-list {
    align-self: flex-end;
    padding-right: 1rem;
}
.nav-list-item {
    display: inline;
    padding: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
}
.link {
    text-decoration: none;
    color: var(--color-white);
}
.link-active {
    font-weight: bold;
    color: var(--color-pink);
}
/****setting page layout*****/
.layout {
    display: flex;
}
/*******CSS for aside bar****/
.aside-list-item {
    list-style: none;
    padding: 0.5rem 0rem;
}
.aside-link {
    text-decoration: none;
    color: inherit;
}
.aside-list-item:hover {
    font-size: 1.5rem;
}
@media only screen and (max-width: 768px) {
    .aside-list {
        padding-left: 0rem;
    }
    .aside-list-item {
        width: min-content;
    }
}
@media only screen and (min-width: 768px) {
    .aside-list-item {
            width: 200px;
    }
}
/**********CSS for main content****/
.main {
    border-left: 1px solid var(--color-primary);
    padding-left: 0.5rem;
}
.section-head {
    background-color: var(--color-secondary);
    padding-left: 1rem;
    border: 1px solid var(--color-secondary);
    border-radius: 0.2rem;
    color: var(--color-primary);
}
.component-description {
    font-style: italic;
    padding: 2rem;
    margin: 1rem 2rem;
}
/*******CSS for avatar********/
.avatar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.avatar-div-pos {
    position: relative;
}
.avatar-img {
    border-radius: 50%;
    border: 5px solid var(--color-white);
}
.avatar-img-small {
    height: auto;
    width: 50px;
}
.avatar-img-medium {
    height: auto;
    width: 75px;
}
.avatar-img-large {
    height: auto;
    width: 100px;
}
.avatar-status {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
}
.avatar-small-online {
    top: 40px;
    left: 45px;
}
.avatar-medium-online {
    top: 55px;
    left: 65px;
}
.avatar-large-online {
    top: 80px;
    left: 85px;
}
/******CSS for alert*****/
.alert-msg {
    display: flex;
    margin: 0.5rem;
    border-radius: 0.2rem;
    color: var(--color-white);
    letter-spacing: 0.2em;
    padding: 0.3rem;
    font-weight: bold;
}
.alert-msg-success {
    background-color: var(--color-success);
}
.alert-msg-warning {
    background-color: var(--color-warning);
}
.alert-msg-failure {
    background-color: var(--color-failure);
}
.alert-msg-info {
    background-color: var(--color-info);
}
/********CSS for badge*********/
.badge {
    color: var(--color-white);
}    
.badge-primary {
    background-color: var(--color-primary);
}
.badge-secondary {
    background-color: gray;
}
.badge-success {
    background-color: var(--color-success);
}
.badge-failure {
    background-color: var(--color-failure);
}
.badge-warning {
    background-color: var(--color-warning);
}
.badge-info {
    background-color: var(--color-info);
}
.badge-special {
    background-color: var(--color-hover);
}
/* css for buttons */
.button {
    padding: 0.5rem;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    border: none;
}
.button-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: 1px solid white;
}
.button-primary:hover {
    background-color: var(--color-primary2);
}
.button-secondary {
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    background-color: inherit;
}
.button-secondary:hover {
    background-color: var(--color-secondary);
}
.button-dark {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}
.button-dark:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
}
.button-light {
    background-color: inherit;
    border: none;
    color: var(--color-primary);
}
.button-light:hover {
    background-color: var(--color-secondary);
    
}
.button-success {
    background-color: var(--color-success);
    color: var(--color-white);
}
.button-success:hover{
    background-color: var(--color-success-hover);
}
.button-failure {
    background-color: var(--color-failure);
    color: var(--color-white);
}
.button-failure:hover{
    background-color: var(--color-failure-hover);
}
.button-warning {
    background-color: var(--color-warning);
    color: var(--color-white);
}
.button-warning:hover{
    background-color: var(--color-warning-hover);
}
.button-info {
    background-color: var(--color-info);
    color: var(--color-white);
}
.button-info:hover{
    background-color: var(--color-info-hover);
}
/* css for cards */
.card-design {
    border: 3px solid var(--color-primary);
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    min-width: 250px;
    width: min-content;
}
.card-heading {
    text-align: center;
}
.card-para {
    padding: 1rem;
}
.card-buttons {
    margin: auto;
    margin-bottom: 1rem;
}
.card-with-shadow-box>.card-design {
    box-shadow: 0px 3px 13px 4px rgba(30, 61, 146, 0.21);
}
/* CSS for images */
.responsive {
    height: auto;
    max-width: 100%;
}
.rounded {
    border-radius: 50%;
}
/* CSS for lists */
.unordered-list-style2 {
    list-style-type: square;
}
.ordered-list-style2 {
    list-style-type: lower-roman;
}
.inline-list-item {
    display: inline;
    padding: 1rem;
}
/*****modal*****/
.modal {
    padding: 2rem;
    background-color: var(--color-secondary);
    position: fixed;
    color: var(--color-gray);
    margin: auto;
    max-width: 200px;
    z-index: 1;
}
.modal-close {
    position: absolute;
    top: 4px;
    right: 4px;
    border: none;
}
/*******CSS for navigations****/
.nav-horizontal {
    display: flex;
    justify-content: space-between;
    min-width: max-content;
    border: 1px solid black;
    padding: 1rem;
    background-color: rgb(216, 212, 212);
    color: var(--color-hover);
}
.search {
    position: relative;
}
.search-emoji {
    position: absolute;
    right: 10px;
    top: 2px;
}
/******CSS for rating stars*******/
.fa-star,
.fa-star-half-alt {
    color: var(--color-warning);
}
/*****CSS for typography****/
.h1 {
    font-size: 2.5rem;
}
.h2 {
    font-size: 2rem;
}
.h3 {
    font-size: 1.75rem;
}
.h4 {
    font-size: 1.5rem;
}
.h5 {
    font-size: 1rem;
}
.h6 {
    font-size: 0.75rem;
}
.striked {
    text-decoration: line-through;
}
.highlighted {
    background-color: var(--color-pink);
}
.underlined {
    text-decoration: underline;
}
/******CSS for footer******/
.footer {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    margin-top: 1rem;
    text-align: center;
    padding: 1rem;
}
.fab {
    color: var(--color-secondary);
    font-size: 1.5rem;
    padding: 0.5rem 0.5rem 1rem 0.5rem;
}
.fab:hover {
    color: var(--color-pink);
}
